/*******************************GLOBAL*******************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Aileron';
}


@font-face {
    font-family:'Aileron';
    src:url(fonts/Aileron-Regular.ttf);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}





/*________________________________HOME-PAGE________________________________*/





/*==========================NAVBAR==========================*/

.navbar {
    width: 95%;
    margin: 0 auto;
}

.nav-home {
    background-color: rgba(0, 0, 0, 0.14);
}


.navbar-brand {
    color: #fff;
    font-size: 5rem;
    font-family: 'Aileron';
    font-weight: 100;
}


.nav-link {
    color: #fff!important;    
    font-size: 2.3rem;
    letter-spacing: 2px;
    font-family: 'Aileron';
    font-weight: 300;
}

.navbar-nav {
    margin-right: 5em;
}

.nav-item {
    padding-right: 3em;
}


.nav-link:hover,
.navbar-brand:hover {
    color: rgba(115, 222, 191, 0.93)!important;
    transition: color 0.5s;
}

/*==========================HEADERS==========================*/
/*----------HOME-HEADER----------*/

#homeHeader {
    background: url('img/homeBackground5.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/*==========================HEADINGS==========================*/
/*----------HOME-HEADING----------*/

#mainHeadline {
    text-align: left;
    margin-left: 10em;
    width: 40%;
    height: auto;
    margin-top:25em;
}

#mainHeadline h1 {
    font-size: 4rem!important;
    color: #fff;
    margin-bottom: .5em;
    font-weight: 200;
    font-family: 'Aileron';
}

#mainHeadline a {
    border: 2px #ffffff solid;
    border-radius: 50px;
    padding: .5em 1.1em;
    color: yellow;
    font-size: 2.4em;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Alcubierre';
}

/*==========================BUTTONS==========================*/
/*----------HOMEBUTTON----------*/


.btn:hover {
    animation: animate 8s linear infinite;
    background:linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    color: #fff!important;
    background-color: rgba(135, 232, 204, 0.67);
    border: white 2px solid;
}


@keyframes animate {
    0%{
        background-position:0%;

    }
    100% {
        background-position: 100%;
    
    }
    
}

/*==========================QUERIES==========================*/
/*----------HOME-HEADER-QUERY----------*/

@media screen and (min-width:1000px) {
    
    #mainHeadline h1 {
        font-size: 4rem;
    }
}


/*________________________________PORTFOLIO-PAGE________________________________*/





/*==========================HEADERS==========================*/
/*----------PORTFOLIO-HEADER----------*/

#portfolioHeader {
    background: url('/css/img/portfolioBackground.JPG'),linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0));
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

/*==========================HEADINGS==========================*/
/*----------PORTFOLIO-HEADING----------*/


#portfolioHeader h2 {
    font-size: 6rem;
    width: 100%;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2.9em;
    padding-right: .5em;
    font-family: 'Aileron';
    font-weight: 300;
}


/*==========================IMAGES==========================*/
/*----------PORTFOLIO-IMAGES----------*/


#portfolioContainer  {
    padding-top: 5em;
    width: 100%;
    margin: 0 auto;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 10em;
}

#portfolioContainer div:not(.horizontalImg) {
    width: 30em;
    margin: 0 auto;
    height: 40em;
    overflow: hidden;
    margin-bottom: 2em;
    padding-top: 2em;
}

.horizontalImg {
    margin: 0 auto;
    overflow: hidden;
    width: 40em;
}

#portfolioContainer img {
    transform: scale(0.95);
    opacity: 0.99;
    transition: transform 0.5s, opacity 0.5s;
    width: 100%;
    height: auto;
    padding-bottom: 2em;
    image-rendering: -moz-crisp-edges;         
    image-rendering:   -o-crisp-edges;        
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; 
}

#portfolioContainer img:hover {
    transform: scale(1);
    opacity: 1;
}

/*==========================FOOTER==========================*/

.footerp {
    background-color: rgb(0, 0, 0);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

.footerp h3 {
    padding-top: .5em;
}





/*________________________________ABOUT-ME-PAGE________________________________*/





/*==========================HEADERS==========================*/
/*----------ABOUT-ME-HEADER----------*/

#aboutMeHeader {
    background-image: linear-gradient(45deg, rgb(7, 47, 69), rgb(6, 28, 46), rgba(4, 56, 118, 0.83),rgb(4, 66, 111));
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0% 50%;
    }
}

#aboutMeText {
    text-align:left;
    width: 40%;
}

#aboutMeContainer {
    margin-bottom: 6em!important;
}

/*==========================HEADINGS==========================*/
/*----------ABOUT-ME-HEADING----------*/


#aboutMeText {
    color: #fff;
    width: 75%;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    bottom: 3em;
}

#aboutMeText h3 {
    text-align: left;
    font-size: 4rem;
    line-height: 130%;
    font-family: 'Alcubierre';
    margin-bottom: .7em;
    font-weight: 300;
}

#aboutMeText p {
    font-family: 'Aileron';
    font-weight: 300;
    font-size: 2rem;
    line-height: 200%;
}

/*==========================IMAGES==========================*/
/*----------ABOUT-ME-IMAGES----------*/

#aboutMeContainer figure {
    margin: 5em auto 2em auto;
}

#aboutMeContainer figure img {
    width: 30em;
    border-radius: 50%;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
}


/*==========================FOOTERS==========================*/

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color:rgba(0, 0, 0, 0.33);
    border-top: 2px solid #fff;
    padding-top: 2em;
}

.footer1 {
    display: flex;
    font-size: 1.7rem;
    color: #fff;
    justify-content: space-around;
}

#footerExplore {
    font-size: 3rem;
    margin-bottom: .5em;
}

.footer ul li a,
.footerp ul li a {
    color: #fff;
}
.footer ul li,
.footerp ul li {
    color: #fff;
    margin-bottom: .2em;
    font-weight: 300;
    
}

.copyright {
    color: #fff;
    font-size: 1.5rem;
    list-style: none;
}

#follow {
    font-size: 3rem;
    margin-bottom: .5em;
}

/*==========================QUERIES==========================*/
/*----------ABOUT-ME-HEADER-QUERY----------*/

@media screen and (min-width:1250px) {
    
    #aboutMeContainer {
        display: flex;
        margin-top: 5em;
        margin-bottom: 4em;
    }
    
    #aboutMeContainer figure {
        margin-left: 20em;
    }
    
    #aboutMeContainer figure img {
        width: 40em;
    }
    
    #aboutMeText {
        margin-top: 7em;
    }
    
}





/*________________________________CONTACT-PAGE________________________________*/





/*==========================HEADER==========================*/



#allContent {
    background-image: linear-gradient(45deg, rgb(7, 47, 69), rgb(6, 28, 46), rgba(4, 56, 118, 0.83),rgb(4, 66, 111));
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    font-family: 'Aileron';
}

#allContent h2 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 1em;
    margin-top: .3em;
}

/*==========================FORMS==========================*/

form {
    width: 90%;
    max-width: 40%;
    min-width: 400px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 2em;
}


.formLabel {
    font-weight: 100;
    color: #fff;
    font-size: 2rem;
}

.formInput {
    width: 100%; 
    margin: .5em 0;
    padding: .5em;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 1.5rem;
}

.formInput::placeholder {
    font-size: 1.8rem;
    font-weight: 200;
    color: #fff;
}

.formInput:focus::placeholder {
    color: transparent;
}

.formInput:focus {
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #fff;
    outline: none;
}

textarea.formInput {
    resize: none;
    min-height: 200px;
}

textarea.formInput:focus {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.formBtn {
    font-weight: 600;
    font-size: 1.1em;
    padding: 1em 2.6em;
    margin: 3em 0;
    color: #ffffff;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
}

.formBtn:active {
    color: #000000;
    background-color: #fff;
}

/*________________________________PROJECTS-PAGE________________________________*/

#projectsHeader {
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.12)), url('img/projectsBackground.JPG');
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    height: 300vh;
}

#projectsHeader h2 {
    font-size: 6rem;
    width: 100%;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2.9em;
    padding-right: .5em;
    font-family: 'Aileron';
    font-weight: 300;
}

.mainContainer {
    padding-top: 13em;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cardContainer,
.cardContainer1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    cursor: pointer;
    width: 240px;
    height: 380px;
    margin-right: 5em;
    margin-bottom: 5em;
}

.front img {
    height: 100%;
}

.middle h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front img{
    height: 100%;
}

.front{
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
}

.back{
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}

.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
    
}

.back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
    background-image: url();
    background-size: cover;
    background-position: center;
    height: 100%;
}