/*******************************GLOBAL*******************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Aileron';
}

@font-face {
    font-family:'Aileron';
    src:url(fonts/Aileron-Regular.ttf);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2{
    font-size: 6rem;
    width: 100%;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3em;
    padding-right: .5em;
    font-family: 'Aileron';
    font-weight: 300;
}

/*==========================NAVBAR==========================*/

.navbar {
    width: 95%;
    margin: 0 auto;
}

.navbar-brand {
    color: #fff;
    font-size: 4.5rem;
    font-family: 'Aileron';
    font-weight: 200;
    margin-left: 0.5em;
}

.nav-link {
    color: #fff!important;    
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-family: 'Aileron';
    font-weight: 400;
}

.nav-item {
    padding-right: 3em;
}

.navbar-brand:hover,
.nav-link:hover {
    color: rgb(132, 132, 132)!important;
    transition: color 0.5s;
}

/*==========================HEADERS==========================*/

/*----------HOME-HEADER----------*/

#homeHeader {
    background:url('img/homeBackground.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/*----------PROJECTS-HEADER----------*/

#projectsHeader {
    background-image:linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0)), url('img/projectsBackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    height: 300vh;
}

.mainContainer {
    padding-top: 13em;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*----------PORTFOLIO-HEADER----------*/

#portfolioHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0)),url('img/portolioBackground.jpg');
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

/*----------ABOUT-ME-HEADER----------*/

#aboutMeHeader {
    background-image: linear-gradient(45deg, rgb(7, 47, 69), rgb(6, 28, 46), rgba(4, 56, 118, 0.83),rgb(4, 66, 111));
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0% 50%;
    }
}

/*----------CONTECT-HEADER----------*/

#contactHeader {
    background-image: linear-gradient(45deg, rgb(7, 47, 69), rgb(6, 28, 46), rgba(4, 56, 118, 0.83),rgb(4, 66, 111));
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    font-family: 'Aileron';
}

#contactHeader h2 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    margin: 2em 0;
}

/*==========================HEADINGS==========================*/

/*----------HOME-HEADING----------*/

#mainHeadline {
    position: relative;
    top: 30%;
    text-align: center;
    margin: 0 auto;
}

#mainHeadline h1 {
    font-size: 4rem!important;
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-family: 'Aileron';
    position: relative;
    margin-bottom: 1em;
}

/*----------ABOUT-ME-HEADING----------*/


#aboutMeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6em;
}

#aboutMeText {
    width: 70%;
    max-width: 550px;
    text-align:left;
    font-weight: 300;
    color: #fff;
    position: relative;
    bottom: 10em;
}

#aboutMeText h2 {
    text-align: left;
    font-size: 4rem;
    line-height: 130%;
    font-family: 'Alcubierre';
    margin-bottom: .7em;
    color: #fff;
}

#aboutMeText p {
    font-family: 'Aileron';
    font-size: 2rem;
    line-height: 200%;
}

/*==========================BUTTONS==========================*/

/*----------HOMEBUTTON----------*/

.btn {
    border: 2px #ffffff solid;
    border-radius: 50px;
    padding: .5em 1.1em;
    color: #fff;
    font-size: 2.4em;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Alcubierre';
}

.btn:hover {
    animation: animate 8s linear infinite;
    background:linear-gradient(90deg, rgba(105, 250, 154, 0.94), rgb(68, 156, 242), #6393cc, rgb(79, 154, 244));
    background-size: 400%;
    color: #fff!important;
    background-color: rgba(252, 252, 252, 0);
    
}


@keyframes animate {
    0%{
        background-position:0%;

    }
    100% {
        background-position: 100%;
    
    }
    
}

/*==========================IMAGES==========================*/

/*----------PORTFOLIO-IMAGES----------*/


#portfolioContainer  {
    width: 84%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10em;
}

#portfolioContainer div {
    width: 350px;
    height: 425px;
    margin: 0 auto;
    overflow: hidden;
    margin: 0.1em auto;
}

#portfolioContainer img {
    transform: scale(0.95);
    transition: transform 0.5s, opacity 0.5s;
    width: 100%;
    height: auto;
    padding-bottom: 2em;
    image-rendering: -moz-crisp-edges;         
    image-rendering:   -o-crisp-edges;        
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; 
}

#portfolioContainer img:hover {
    transform: scale(1);
}

/*----------ABOUT-ME-IMAGES----------*/

#carousel figure:first-child img {
    top: 1.2em;
}

#carousel figure:nth-child(3) img {
    bottom: 1.2em;
}

#carousel,
#carousel figure {
    border: 1px solid rgba(255, 255, 255, 0);
}

/*==========================CAROUSEL==========================*/

div#carousel > figure > img {
    width: 30em;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 1px solid white;
    display: none;
}

div#carousel > figure.visible > img {
    display: block;
    position: relative;
    overflow: hidden;
}

/*==========================FOOTER==========================*/

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color:rgba(0, 0, 0, 0.33);
    border-top: 2px solid #fff;
    padding-top: 2em;
}

.footer1 {
    display: flex;
    font-size: 1.7rem;
    color: #fff;
    justify-content: space-around;
}

#footerExplore {
    font-size: 3rem;
    margin-bottom: .5em;
}

.footer ul li a,
.footerp ul li a {
    color: #fff;
}
.footer ul li,
.footerp ul li {
    color: #fff;
    margin-bottom: .2em;
    font-weight: 300;
    
}

.copyright {
    color: #fff;
    font-size: 1.5rem;
    list-style: none;
}

#follow {
    font-size: 3rem;
    margin-bottom: .5em;
}

.footerp {
    background-color: rgb(0, 0, 0);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

.footerp h3 {
    padding-top: .5em;
}

.copyright {
    text-align: center;
}

/*==========================FORMS==========================*/

form {
    width: 90%;
    max-width: 40%;
    min-width: 400px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 2em;
}


.formLabel {
    font-weight: 100;
    color: #fff;
    font-size: 2rem;
}

.formInput {
    width: 100%; 
    margin: .5em 0;
    padding: .5em;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 1.5rem;
}

.formInput::placeholder {
    font-size: 1.8rem;
    font-weight: 200;
    color: #fff;
}

.formInput:focus::placeholder {
    color: transparent;
}

.formInput:focus {
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #fff;
    outline: none;
}

textarea.formInput {
    resize: none;
    min-height: 200px;
}

textarea.formInput:focus {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.formBtn {
    font-weight: 600;
    font-size: 1.1em;
    padding: 1em 2.6em;
    margin: 3em 0;
    color: #ffffff;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
}

.formBtn:active {
    color: #000000;
    background-color: #fff;
}

/*==========================FLIP-CARDS==========================*/

.cardContainer,
.cardContainer1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    cursor: pointer;
    width: 240px;
    height: 380px;
    margin-right: 5em;
    margin-bottom: 5em;
}

.front img {
    height: 100%;
}

.middle h2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    font-size: 3rem;
}

.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front img{
    height: 100%;
}

.front{
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
}

.back{
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}

.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
    
}

.back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
    background-image: url();
    background-size: cover;
    background-position: center;
    height: 100%;
}

/*==========================QUERIES==========================*/

/*----------PROJECTS-QUERY----------*/

@media screen and (max-width:844px){
    #projectsHeader {
        height: 500vh;
    }
    
    .mainContainer {
        margin-top: 60em;
    }
}

/*----------CONTACT-ME-QUERY----------*/

@media screen and (min-width:800px) {
    #contactHeader h2 {
        margin: 1.1em 0;
    }
}

/*----------ABOUT-ME-QUERY----------*/

@media screen and (min-width:1150px) {
    
    #aboutMeContainer {
        display: flex;
        flex-direction: row;
        padding-bottom: 9em;
    }
    
    #carousel {
        margin-right: 7em;
        margin-left: 15em;
        margin-top:10em;
    }
    
    section#carousel > figure > img {
        width: 35em;
    }
    
    #aboutMeText {
        position: relative;
        top: 2em;
        left: 8em;
    }
    
}
