/*******************************GLOBAL*******************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Aileron';
}


@font-face {
    font-family:'Aileron';
    src: url(fonts/Aileron-Regular.ttf);
}

a {
    text-decoration: none!important
}

ul {
    list-style: none;
}



/*________________________________HOME-PAGE________________________________*/






/*==========================NAVBAR==========================*/

.navbar {
    width: 95%;
    margin: 0 auto;
}

.navbar-brand {
    color: #fff!important;
    font-size: 5rem!important;
    font-family: 'Aileron'!important;
    font-weight: 100;
}


.nav-link {
    color: #fff!important;    
    font-size: 2.3rem;
    letter-spacing: 2px;
    font-family: 'Aileron'!important;
    font-weight: 300;
}

.navbar-nav {
    position: relative;
    right: 11em;
}

.nav-item {
    padding-right: 3em;
}


.nav-link:hover,
.navbar-brand:hover {
    color: rgba(115, 222, 191, 0.93)!important;
    transition: color 0.5s;
}

/*==========================HEADERS==========================*/
/*----------HOME-HEADER----------*/

#homeHeader {
    background-image: url(/img/HomeBackground.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/*==========================HEADINGS==========================*/
/*----------HOME-HEADING----------*/

#mainHeadline {
    text-align: center;
}

#mainHeadline h1 {
    font-size: 3.6rem;
    color: #fff;
    margin-bottom: .5em;
    margin-top: 4em;
    font-weight: 400;
    font-family: 'Aileron';
}

#mainHeadline a {
    border: 2px #ffffff solid;
    border-radius: 50px;
    padding: .5em 1.1em;
    color: rgba(115, 222, 191, 0.93);
    font-size: 2.4em;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Alcubierre';
}

/*==========================BUTTONS==========================*/
/*----------HOMEBUTTON----------*/


.btn:hover {
    animation: animate 8s linear infinite;
    background:linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    color: #fff!important;
    background-color: rgba(135, 232, 204, 0.67);
    border: white 2px solid;
}


@keyframes animate {
    0%{
        background-position:0%;

    }
    100% {
        background-position: 100%;
    
    }
    
}

/*==========================QUERIES==========================*/
/*----------HOME-HEADER-QUERY----------*/

@media screen and (min-width:1000px) {
    
    #mainHeadline h1 {
        font-size: 4rem;
    }
}

/*________________________________PORTFOLIO-PAGE________________________________*/





/*==========================HEADERS==========================*/
/*----------PORTFOLIO-HEADER----------*/

#portfolioHeader {
    background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.38)) , url(/img/PortfolioBackground.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

/*==========================HEADINGS==========================*/
/*----------PORTFOLIO-HEADING----------*/


header h2 {
    font-size: 7rem;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2em;
    padding: .3em 0 .3em 0;
    background-color: rgba(255, 255, 255, 0.31);
    border: 1px solid white;
    color: #ffffff;
    text-transform: uppercase;
}

/*==========================IMAGES==========================*/
/*----------PORTFOLIO-IMAGES----------*/


#portfolioContainer  {
    padding-top: 5em;
    background: transparent;
    width: 100%;
    margin: 0 auto;
    height: auto;
    flex-wrap: wrap;
    display: flex;
}

#portfolioContainer div:not(.horizontalImg) {
    width: 39em;
    margin: 0 auto;
    height: 48em;
    overflow: hidden;
    margin-bottom: 2em;
}

.horizontalImg {
    margin: 0 auto;
    overflow: hidden;
    width: 62em;
}

#portfolioContainer img {
    transform: scale(0.95);
    opacity: 0.99;
    transition: transform 0.5s, opacity 0.5s;
    width: 100%;
    height: auto;
    padding-bottom: 2em;
    image-rendering: -moz-crisp-edges;         
    image-rendering:   -o-crisp-edges;        
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; 
}

#portfolioContainer img:hover {
    transform: scale(1);
    opacity: 1;
}

/*==========================FOOTER==========================*/

.footerp {
    background-color: rgb(0, 0, 0);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

.footerp h3 {
    padding-top: .5em;
}


/*________________________________ABOUT-ME-PAGE________________________________*/





/*==========================HEADERS==========================*/
/*----------ABOUT-ME-HEADER----------*/

#aboutMeHeader {
    background-image: linear-gradient(45deg, rgb(0, 53, 85), rgba(20, 140, 203, 0.9), rgb(2, 40, 64),rgb(2, 40, 64));
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0% 50%;
    }
}

#aboutMeText {
    text-align:left;
    width: 40%;
}

#aboutMeContainer {
    margin-bottom: 6em!important;
}

/*==========================HEADINGS==========================*/
/*----------ABOUT-ME-HEADING----------*/


#aboutMeText {
    color: #fff;
    width: 75%;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    bottom: 3em;
}

#aboutMeText h3 {
    text-align: left;
    font-size: 4rem;
    line-height: 130%;
    font-family: 'Alcubierre';
    margin-bottom: .7em;
    font-weight: 300;
}

#aboutMeText p {
    font-family: 'Aileron';
    font-weight: 300;
    font-size: 2rem;
    line-height: 200%;
}

/*==========================IMAGES==========================*/
/*----------ABOUT-ME-IMAGES----------*/

#aboutMeContainer figure {
    margin: 5em auto 2em auto;
}

#aboutMeContainer figure img {
    width: 30em;
    border-radius: 50%;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
}


/*==========================FOOTERS==========================*/

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color:rgba(0, 0, 0, 0.33);
    border-top: 2px solid #fff;
    padding-top: 2em;
}

.footer1 {
    display: flex;
    font-size: 1.7rem;
    color: #fff;
    justify-content: space-around;
}

#footerExplore {
    font-size: 3rem;
    margin-bottom: .5em;
}

.footer ul li a,
.footerp ul li a {
    color: #fff;
}
.footer ul li,
.footerp ul li {
    color: #fff;
    margin-bottom: .2em;
    font-weight: 300;
    
}

.copyright {
    color: #fff;
    font-size: 1.5rem;
    list-style: none;
}

#follow {
    font-size: 3rem;
    margin-bottom: .5em;
}

/*==========================QUERIES==========================*/
/*----------ABOUT-ME-HEADER-QUERY----------*/

@media screen and (min-width:1250px) {
    
    #aboutMeContainer {
        display: flex;
        margin-top: 5em;
        margin-bottom: 4em;
    }
    
    #aboutMeContainer figure {
        margin-left: 20em;
    }
    
    #aboutMeContainer figure img {
        width: 40em;
    }
    
    #aboutMeText {
        margin-top: 7em;
    }
    
}




/*________________________________CONTACT-PAGE________________________________*/





/*==========================HEADER==========================*/



#allContent {
    background-image: linear-gradient(45deg, rgb(0, 53, 85), rgba(20, 140, 203, 0.9), rgb(2, 40, 64),rgb(2, 40, 64));
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

#allContent h1 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 1em;
    margin-top: .3em;
}

/*==========================FORMS==========================*/

form {
    width: 90%;
    max-width: 40%;
    min-width: 400px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 2em;
}


.formLabel {
    font-weight: 100;
    color: #fff;
    font-size: 2rem;
}

.formInput {
    width: 100%; 
    margin: .5em 0;
    padding: .5em;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 1.5rem;
}

.formInput::placeholder {
    font-size: 1.8rem;
    font-weight: 200;
    color: #fff;
}

.formInput:focus::placeholder {
    color: transparent;
}

.formInput:focus {
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #fff;
    outline: none;
}

textarea.formInput {
    resize: none;
    min-height: 200px;
}

textarea.formInput:focus {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.formBtn {
    font-weight: 600;
    font-size: 1.1em;
    padding: 1em 2.6em;
    margin: 3em 0;
    color: #ffffff;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
}

.formBtn:active {
    color: #000000;
    background-color: #fff;
}




/*==========================MEDIA-QUERIES==========================*/


