/*---------BASIC STYLES----------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {

}

.row {
    width: 1140px;
    margin: 0 auto;
}

/*---------HOMEPAGE HEADER----------*/

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(/img/HeroImage1.JPG);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

#mainHeader {
    position: absolute;
    top: 50%;
    left: 10%;
    color: #fff;
    font-size: 1.5em;
}

.logo {
    float:left;
    margin-top: 10px;
}

.mainNav {
    float: right;
    margin-top: 40px;
}

.mainNav li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 1.4em;
}

.mainNav li a:link,
.mainNav li a:visited {
    color: #fff;
    text-decoration: none;
    transition: border-bottom 0.5s;
}

.mainNav li a:hover, 
.mainNav li a:active {
    color: orange;
    border-bottom: 2px solid orange;
    
}

/*---------HEADINGS----------*/

h1 {
    margin-bottom: 40px;
}

/*---------BUTTONS----------*/

.btn:link,
.btn:visited {
    border: 2px solid orange;
    padding: 10px 30px;
    border-radius: 90px;
    color: #fff;
    text-decoration: none;
}